@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #223182;
$secondary_color: #223182;
$background: #dbdbdb;
$border: #919191;

$max_width: 1200px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
	font-family: 'Muli Regular';
	src: url(fonts/Muli-Regular.ttf);
}

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Muli Regular';
		size: 16px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* Top */

.top {
	.moduletable_to1 {
		padding: 10px 0;
	}
	.moduletable_to2 {
		ul.mega-menu {
			li {
				padding: 0 10px !important;
				a {}
			}
		}
	}
	.moduletable_to3 {
		.woocommerce-product-search {
			.search-field {
				margin: 0;
				border-radius: 0;
			}
			button {
				display: none;
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: 0;
		}
	}
}

/* Content */

.content {
	padding: 40px 0;
	border-top: 10px solid $secondary_color;
	h1 {
		width: fit-content;
		margin-bottom: 10px;
		padding: 0 15px;
		border: 1px solid $secondary_color;
		font: {
			size: 34px;
			weight: bold;
		}
	}
	.asterisk {
		color: red;
	}
	a {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	input {
		border-radius: 0;
	}
	textarea {
		border-radius: 0;
	}
	.button {
		background-color: $secondary_color;
		border-radius: 0;
	}
	.border {
		padding: 10px;
		border: 1px solid $secondary_color;
	}
	#wpmm-wrap-product-menu {
		width: 100%;
		ul#wpmega-menu-product-menu {
			li {
				a {
					&:hover {
						color: #fff;
					}
				}
			}
		}
		.wpmega-responsive-closebtn {
			color: $primary_color !important;
		}
	}
	.woocommerce {
		h1 {
			&.page-title {
				margin: {
					left: auto;
					right: auto;
				}
			}
		}
		p {
			&.woocommerce-result-count {
				width: 100%;
				text-align: center;
			}
		}
		ul.products {
			li.product {
				margin-bottom: 10px;
				a.woocommerce-LoopProduct-link {
					text-align: center;
					display: block;
					img {
						margin-bottom: 10px;
						padding: 10px;
						border: 1px solid $secondary_color;
					}
					h2.woocommerce-loop-product__title {
						width: 100%;
						padding: 10px 0 !important;
						border: {
							top: 1px solid $secondary_color;
							bottom: 1px solid $secondary_color;
						}
						font-size: 16px;
						color: $primary_color;
						text: {
							align: center;
							transform: uppercase;
						}
					}
				}
				/*margin: 0;
				&:nth-child(odd) {
					.loop_block {
						.loop_left {
							order: 1;
						}
						.loop_right {
							order: 2;
						}
					}
				}
				&:nth-child(even) {
					.loop_block {
						background-color: $background;
						.loop_left {
							order: 2;
						}
						.loop_right {
							order: 1;
						}
					}
				}
				.loop_block {
					max-width: 1000px;
					margin: auto;
					padding: 40px 0;
					.loop_left {
						.loop_title {
							h3 {
								width: fit-content;
								margin: auto;
								margin-bottom: 10px;
								padding: 0 15px;
								border: 1px solid $secondary_color;
								font: {
									size: 24px;
									weight: bold;
								}
							}
						}
						.loop_description {}
						.look_link {
							a {
								margin: 0;
								background-color: $secondary_color;
								color: #fff;
							}
						}
					}
					.loop_right {
						.loop_image {
							img {
								padding: 10px;
								border: 1px solid $border;
							}
						}
					}
				}*/
			}
		}
		.product {
			h1 {
				&.product_title {
					border: 0;
				}
			}
		}
		a,
		button {
			&.button {
				background-color: $secondary_color;
				border-radius: 0;
				color: #fff;
			}
		}
	}
	&.full-width {
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 40px 0;
	background-color: $background;
	.moduletable_b11 {
		h3 {
			width: fit-content;
			margin: auto;
			margin-bottom: 10px;
			padding: 0 15px;
			border: 1px solid $secondary_color;
			font: {
				size: 34px;
				weight: bold;
			}
		}
		.owl-item {
			figure {
				figcaption {
					h3 {
						font-size: 14px;
						text-align: center;
					}
				}
			}
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 40px 0;
	.moduletable_b21 {
		h3 {
			width: fit-content;
			margin: auto;
			margin-bottom: 10px;
			padding: 0 15px;
			border: 1px solid $secondary_color;
			font: {
				size: 34px;
				weight: bold;
			}
		}
		.item-border {
			padding: 15px;
			border: 1px solid $border;
			.item {
				overflow: hidden;
				position: relative;
				&:hover {
					.item-overlay {
						top: 0;
					}
				}
				.item-overlay {
					width: 100%;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background-color: rgba(0, 0, 0, 0.6);
					overflow: hidden;
					position: absolute;
					-moz-transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s;
					-webkit-transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s;
					transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s;
					top: 100%;
					p {
						margin: 20px 0;
						padding: 0 10px;
						font-size: 14px;
						a {
							&.button {
								background-color: $secondary_color;
								border-radius: 0;
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 40px 0;
	background-color: $background;
	.moduletable_b31 {
		h3 {
			width: fit-content;
			margin: auto;
			margin-bottom: 10px;
			padding: 0 15px;
			border: 1px solid $secondary_color;
			font: {
				size: 34px;
				weight: bold;
			}
		}
		iframe {
			border: 0;
		}
		[type=text],
		[type=email],
		textarea {
			margin-bottom: 0;
			border-radius: 0;
		}
		.button {
			background-color: $secondary_color;
			border-radius: 0;
			text-transform: uppercase;
		}
		.border {
			padding: 10px;
			border: 1px solid $border;
		}
	}
}

/* Bottom */

.bottom {
	padding: 40px 0;
	background-color: $secondary_color;
	color: #fff;
	a {
		color: #fff;
	}
	.moduletable_bo1 {
		#a {
			ul {
				li {
					list-style: none;
				}
			}
		}
		#b {
			padding-left: 40px;
			border-left: 1px solid #fff;
		}
	}
	.copyright {
		padding-top: 20px;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}